# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
content_generation/__pycache__/*
django_project/__pycache__/*
keywordresearch/__pycache__/*
api/__pycache__/
core/__pycache__/
*.py[cod]
**/__pycache__/*
**/*.py[cod]
*.pyc
**/*.pyc
# C extensions
*.so

dump_*.sql

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/